[user]
    name = Martin Tóth
    email = ezimir@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[color]
    ui = true
[push]
    default = simple
[alias]
    branches = branch -a
    remotes = remote -v
    stashes = stash list
    tags = tag

    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
