[user]
    name = Martin Tóth
    email = ezimir@gmail.com
[core]
	editor = vim
    editor = vim
[credential]
    helper = osxkeychain
[color]
    ui = true
[push]
    default = simple
[alias]
    branches = branch -a
    remotes = remote -v
    stashes = stash list
    tags = tag

    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
