[user]
	email = ezimir@gmail.com
	name = Martin Tóth
[core]
	editor = vim
[color]
	ui = auto
[alias]
    branches = branch -a
    remotes = remote -v
    stashes = stash list
    tags = tag

    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
