
snippet ff "Font Family" b
font-family: ${1:"Font Name"};
endsnippet

snippet fs "Font Size" b
font-size: ${1:1em};
endsnippet

snippet fw "Font Weight" b
font-weight: ${1:300};
endsnippet

snippet pos "Position" b
position: ${1:relative};
endsnippet

snippet posa "Position Absolute" b
position: ${1:absolute};
endsnippet

