
snippet cl "console.log" b
console.log(${VISUAL}$1);
endsnippet

snippet if "if" b
if (${1:contition}) {
    ${VISUAL}$0
}
endsnippet

snippet ifdef "typeof undefined check"
if (typeof ${1:variable} !== 'undefined'${2: && $1}) {
    ${VISUAL}$0
}
endsnippet

