
snippet im "import module" b
import ${1:module}
endsnippet

snippet fr "from module import object" b
from ${1:module} import ${2:object}
endsnippet

snippet pdb "Debugger breakpoint" b
import pdb;pdb.set_trace()
endsnippet

